#visibleFolders {
    height: 100%;
    overflow-y: auto;
}

#visibleFolders .folder-item {
    margin: 1px;
}

#visibleFolders .collapsible .collapse {
    z-index: 1;
}

#visibleFolders .collapsible a {
    width: 215px;
    display: inline-block;
}

#visibleFolders .collapsible a.icon-folder{
    white-space: nowrap;                   
    overflow: hidden;              /* "overflow" value must be different from "visible" */   
    text-overflow: ellipsis;  
    direction:rtl;
    text-align:left;
}

#visibleFolders .collapsible .folder-link{
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    vertical-align: top;
	z-index: 1;
}

#visibleFolders .collapsible .folder-link .icon{
    width: 16px;
    height: 16px;
	margin-bottom:4px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../../../core/img/actions/toggle-pictures.svg');
}

#visibleFolders .items-list {
    margin:-1px;
	margin-top: -30px;
	padding-top: 20px;
	padding-bottom: 10px;	
	padding-left:4px;
	background: #efefef;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

#visibleFolders .folder-item {
	width:45px;
	margin-bottom: -4px;
}

#visibleFolders .open {
	z-index:5;
	background: #efefef;
	border: 1px solid #666666;
}

#visibleFolders .collapse {
	margin: 1px;	
}


#app-navigation li {
    height: 30px;
}
